.genres_wrap {
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.genres_wrap button {
    background: #4a4f5e;
    height: 35px;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    padding: 5px 25px 5px 25px;
    margin: 5px;

}